* {
  margin: 0;
  padding: 0;
}

.head__Style {
  background-color: brown;
  color: white;
  text-align: center;
  padding: 15px;
}

.card {
  background-color: #ffbc80;
  box-shadow: 2px 4px 4px gray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 390px;
  display: inline-block;
}

.card__title {
  text-align: center;
  margin-bottom: 5px;
}

.card__dece {
  text-align: justify;
  margin-bottom: 5px;
}

.card__footer {
  text-align: center;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}
