body {
  background-color: #f0f2a6;
  color: white;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 2rem;
  margin-right: 10px;
  width: 50px;
}
